<section class="collection section">
    <div class="collection__container bd-grid">
        <div class="collection__box">
            <img src="/img/table.png" alt="" width="230" class="collection_img"/>

            <p class="text">Filling the home with the beautiful creation of wood.</p>
            
        </div>

        <div class="collection__box">
            
            <p class="text">Change the look of your house, change the perspective of others</p>

            <img src="/img/chair.png" alt="" width="230" class="collection__img">
        </div>
    </div>
</section>