<footer class="footer section">
    <div class="footer__container bd-grid">
        <div class="footer__box">
            <h3 class="footer__title">Wardrobe</h3>
            <p class="footer__deal">Products store</p>
        </div>

        <div class="footer__box">
            <h3 class="footer__title">EXPLORE</h3>
            <ul>
                <li><a href="#" class="footer__link">Home</a></li>
                <li><a href="#product" class="footer__link">product</a></li>
                <li><a href="#new" class="footer__link">New</a></li>
                <li><a href="#suscribed" class="footer__link">Suscribe</a></li>
            </ul>
        </div>

        <div class="footer__box">
            <h3 class="footer__title">OUR SERVICES</h3>
            <ul>
                <li><a  class="footer__link">Pricing</a></li>
                <li><a  class="footer__link">Free Shipping</a></li>
                <li><a  class="footer__link">Gift Cards</a></li>
            </ul>
        </div>
    </div>
</footer>