<main class="l-main">
    <section class="home" id="home">
        <div class="home__container bd-grid" style="align-items: center;">
            <img src="/img/home.png" alt="" width="700" style="height: 500px; right: 0; position: absolute;" />
            <div class="home__data" style="position: absolute;">
                <h1 class="home__title">
                    NEW<br />
                    <span>ARRIVALS</span>
                </h1>
                <a href="#product" class="button">GO SHOPPING</a>
            </div>
        </div>
    </section>
</main>
