<section class="product" id = "product">
    <h2 class="section-title">NEW ARRIVALS</h2>
    <br>
    <div class="product__container bd-grid">
        <div class="product__product">
            <div class="product__box">
                <div class="product__new">NEW</div>
                <img src="/img/chair.png" alt=""/>
                
            </div>
        <div class="product__data">
            <h3 class="product__name">SOFA CHAIR</h3>
            <i class='bx bx-cart nav__cart button ' onclick="addtoCart('sofa chair', '$99', '/img/chair.png')"></i>
            <span class="product__preci">$99</span>
        </div>
            
        </div>

        <div class="product__product">
            <div class="product__box">
                <div class="product__new">NEW</div>
                <img src="/img/cupboard.png" alt=""/>
            </div>
        <div class="product__data">
            <h3 class="product__name">tv table</h3>
            <i class='bx bx-cart nav__cart button ' onclick="addtoCart('tv table', '$99', '/img/cupboard.png')"></i>
            <span class="product__preci">$99</span>
        </div>
        
        </div>

        <div class="product__product">
            <div class="product__box">
                <div class="product__new">NEW</div>
                <img src="/img/sofa.png" alt="" class="product__img"/>
            </div>
        <div class="product__data">
            <h3 class="product__name">sofa</h3>
            <i class='bx bx-cart nav__cart button end ' onclick="addtoCart('sofa', '$99', '/img/sofa.png')" ></i>
            <span class="product__preci">$99</span>
        </div>	
        
        </div>

        <div class="product__product">
            <div class="product__box">
                <div class="product__new">NEW</div>
                <img src="/img/table1.png" alt="" class="product__img"/>
            </div>
        <div class="product__data">
            <h3 class="product__name">wooden table</h3>
            <i class='bx bx-cart nav__cart button end ' onclick="addtoCart('wooden table', '$99', '/img/table1.png')" ></i>
            <span class="product__preci">$99</span>
        </div>	
        
        </div>
    </div>
</section>