<section class="newsletter section" id="suscribed">
		
    <div class="newsletter__container bd-grid">
        <div class="newsletter__suscribe">
            <h2 class="section-title">OUR NEWSLETTER</h2>
            <p class="newsletter__description">Promotion new products and sales. Directly to your</p>

            <form action="" class="newsletter__form">
                <input type="" class="newsletter__input" placeholder="Enter your email">
                <a href="#" class="button-1">SUSCRIBE</a>
            </form>
        </div>
    </div>	
</section>