<section class="product" id="product">
    <h2 class="section-title">PRODUCTS</h2>
    <br>
    <div class="product__container bd-grid">
        <div class="product__product">
            <div class="product__box">
                <img src="/img/cupboard1.png" alt="" class="product__img"/>
            </div>
        <div class="product__data">
            <h3 class="product__name">Wooden table with shelfs</h3>
            <i class='bx bx-cart nav__cart button end ' onclick="addtoCart('wooden table with selfs', '$99', '/img/cupboard1.png')" ></i>
            <span class="product__preci">$99</span>
        </div>	
        
        </div>

        <div class="product__product">
            <div class="product__box">
                <img src="/img/stool.png" alt="" class="product__img"/>
            </div>
        <div class="product__data">
            <h3 class="product__name">bar chair</h3>
            <i class='bx bx-cart nav__cart button end ' onclick="addtoCart('bar chair', '$99', '/img/stool.png')" ></i>
            <span class="product__preci">$99</span>
        </div>	
        
        </div>

        <div class="product__product">
            <div class="product__box">
                <img src="/img/chair1.png" alt="" class="product__img"/>
            </div>
        <div class="product__data">
            <h3 class="product__name">wooden chair</h3>
            <i class='bx bx-cart nav__cart button end ' onclick="addtoCart('wooden chair', '$99', '/img/chair1.png')" ></i>
            <span class="product__preci">$99</span>
        </div>	
        
        </div>

        <div class="product__product">
            <div class="product__box">
                <img src="/img/rocking chair.png" alt="" class="product__img"/>
            </div>
        <div class="product__data">
            <h3 class="product__name">rocking chair</h3>
            <i class='bx bx-cart nav__cart button end ' onclick="addtoCart('rocking chair', '$99', '/img/rocking chair.png')" ></i>
            <span class="product__preci">$99</span>
        </div>	
        
        </div>

        <div class="product__product">
            <div class="product__box">
                <img src="/img/table2.png" alt="" class="product__img"/>
            </div>
        <div class="product__data">
            <h3 class="product__name">wooden table</h3>
            <i class='bx bx-cart nav__cart button end ' onclick="addtoCart('wooden table', '$99', '/img/table2.png')" ></i>
            <span class="product__preci">$99</span>
        </div>	
        
        </div>

        <div class="product__product">
            <div class="product__box">
                <img src="/img/sofa.png" alt="" class="product__img"/>
            </div>
        <div class="product__data">
            <h3 class="product__name">sofa</h3>
            <i class='bx bx-cart nav__cart button end ' onclick="addtoCart('sofa', '$99', '/img/sofa.png')" ></i>
            <span class="product__preci">$99</span>
        </div>	
        
        </div>

        <div class="product__product">
            <div class="product__box">
                <img src="/img/table3.png" alt="" class="product__img"/>
            </div>
        <div class="product__data">
            <h3 class="product__name">wooden table</h3>
            <i class='bx bx-cart nav__cart button end ' onclick="addtoCart('wooden table', '$99', '/img/table3.png')" ></i>
            <span class="product__preci">$99</span>
        </div>	
        
        </div>

        <div class="product__product">
            <div class="product__box">
                <img src="/img/cofee table.png" alt="" class="product__img"/>
            </div>
        <div class="product__data">
            <h3 class="product__name">small wooden table</h3>
            <i class='bx bx-cart nav__cart button end ' onclick="addtoCart('small wooden table', '$99', '/img/cofee table.png')" ></i>
            <span class="product__preci">$99</span>
        </div>	
        
        </div>

        <div class="product__product">
            <div class="product__box">
                <img src="/img/sofa1.png" alt="" class="product__img"/>
            </div>
        <div class="product__data">
            <h3 class="product__name">sofa</h3>
            <i class='bx bx-cart nav__cart button end ' onclick="addtoCart('sofa', '$99', '/img/sofa1.png')" ></i>
            <span class="product__preci">$99</span>
        </div>	
        
        </div>

        <div class="product__product">
            <div class="product__box">
                <img src="/img/table4.png" alt="" class="product__img"/>
            </div>
        <div class="product__data">
            <h3 class="product__name">wooden table</h3>
            <i class='bx bx-cart nav__cart button end ' onclick="addtoCart('wooden table', '$99', '/img/table4.png')" ></i>
            <span class="product__preci">$99</span>
        </div>	
        
        </div>

        <div class="product__product">
            <div class="product__box">
                <img src="/img/bar chair.png" alt="" class="product__img"/>
            </div>
        <div class="product__data">
            <h3 class="product__name">bar chair</h3>
            <i class='bx bx-cart nav__cart button end ' onclick="addtoCart('bar chair', '$99', '/img/bar chair.png')" ></i>
            <span class="product__preci">$99</span>
        </div>	
        
        </div>

        <div class="product__product">
            <div class="product__box">
                <img src="/img/cupboard2.png" alt="" class="product__img"/>
            </div>
        <div class="product__data">
            <h3 class="product__name">cupboard</h3>
            <i class='bx bx-cart nav__cart button end ' onclick="addtoCart('cupboard', '$99', 'cupboard2.png')" ></i>
            <span class="product__preci">$99</span>
        </div>	
        
        </div>

    </div>
</section>